* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: var(--main-color);
    color: var(--secundary-color);
}

:root {
    --main-color: #006241;
    --secundary-color: #ffffff;
    --black-color: #000000;
    --yellow-color: #ffff00;
}

/* Encabezado Inicio */

.header {
    background-color: var(--main-color);
    width: 100%;
    height: 5em;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 5px 30px black;
    padding: 1.5em;
    align-items: center;
    justify-content: space-between;
}

.header__logo-img {
    width: 3em;
    height: 3em;
}

.header__nav-svg {
    color: var(--secundary-color);
    width: 2.5em;
    height: 2.5em;
}

.header__nav-links {
    display: none;
}

.header__user {
    display: none;
}

/* Encabezado Fin */

/* Sección Principal Inicio */

.main {
    padding-top: 7em;
}
.main__speech {
    padding: 1.5rem;
}

.main__speech-text {
    display: flex;
    flex-direction: column;
}

.speech__text-h1 {
    font-size: 3.5rem;
    line-height: 1.2em
}

.speech__text-p {
    font-size: 1.2em;
    margin: 1em 0;
}

.speech__text-green {
    color: var(--main-color);
}

.main__img {
    display: none;
}

/* Sección Principal Fin */

/* Galeria Inicio */

.gallery {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 2em 1.5em;
}

.gallery__img {
    margin: 1em 0;
}

/* Galeria Fin */

/* Formulario de Contacto Inicio */

.contact {
    background-color: var(--black-color);
    padding: 1.5em;
}

.contact__title {
    color: var(--secundary-color);
    margin: 2em 0;
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 1.1em;
}

.contact__form {
    background-color: var(--main-color);
    padding: 1em;
    color: var(--secundary-color);
    margin-bottom: 2em;
}

.form__label {
    display: block;
    margin-top: 0.5em;
}

.form__input {
    background-color: var(--secundary-color);
    border-radius: 0.6em;
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
}

.form__input::placeholder {
    color: var(--main-color);
}

.form__input:focus {
    background-color: var(--black-color);
    color: var(--secundary-color);
}

.form__comment {
    background-color: var(--secundary-color);
    border-radius: 0.6em;
    width: 100%;
    height: 5em;
    padding: 0.5em;
}

.form__comment::placeholder {
    color: var(--main-color);
}

.form__comment:focus {
    background-color: var(--black-color);
    color: var(--secundary-color);
}

.form__submit {
    background-color: var(--main-color);
    color: var(--secundary-color);
    padding: 0.5em;
    border: 2px solid var(--secundary-color);
    text-align: center;
    width: 10em;
    border-radius: 50px;
}

.form__submit:active {
    background-color: var(--yellow-color);
    transition: all 1s;
}

/* Formulario de Contacto Fin */

/* Cartas Inicio */

.cards {
    background-color: var(--secundary-color);
    padding: 2em;
}

.card {
    position: relative;
    background-color: var(--main-color);
    width: 100%;
    margin: 2em 0;
    padding-bottom: 0.5em;
}

.card__img img {
    width: 100%;
}

.card__title {
    padding: 1em;
    color: var(--secundary-color);
}

.card__title-h2 {
    margin-bottom: 0.4em;
    font-size: 1.5em;
}

.card__title-yellow {
    color: var(--yellow-color);
}

.card__p {
    font-size: 0.8em;
}

.card__btn {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--secundary-color);
    border: 1px solid var(--secundary-color);
    padding: 0.8em 2em;
    margin: 0.2em 1em;
    font-size: 0.7em;
    border-radius: 10px;
    text-decoration: none;
}

.card__btn:active {
    background-color: var(--yellow-color);
    transition: all 1s;
}

.card__off {
    background-color: var(--yellow-color);
    position: absolute;
    top: -.7em;
    right: -.9em;
    font-size: 2em;
    border-radius: 50%;
    padding: .2em;
}

/* Cartas Fin */

/* Pie de Pagina Inicio */

.footer {
    background-color: var(--black-color);
    padding: 1.5em;
}

.footer__user-link {
    display: block;
    color: var(--main-color);
    margin: .5em 0;
    text-decoration: none;
}

.footer__social {
    margin: 2em 0;
}

.footer__social-link {
    color: var(--secundary-color);
    margin: .5em 0;
    text-decoration: none;
}

.footer__contact-link {
    color: var(--main-color);
    margin: .5em 0;
    text-decoration: none;
}

/* Pie de Pagina Fin */

/* Media Queries Inicio */


/* Media Querie 470px Inicio */

@media (min-width:470px) {

    .speech__text-h1 {
        font-size: 4.5rem;
    }

    .contact__title {
        font-size: 1.8em;
    }

    .card__off {
        padding: 0.5em;
    }

    .footer {
        font-size: 1.2em;
    }
}

/* Media Querie 470px Fin */


/* Media Querie 770px Inicio */

@media (min-width:770px) {

    .header__nav-links {
        display: flex;
        justify-content: space-evenly;
        width: 24em;
    }

    .header__nav-link {
        color: var(--secundary-color);
        font-size: 1em;
        text-decoration: none;
    }

    .header__nav-svg {
        display: none;
    }

    .header__user {
        display: block;
    }

    .header__user-icon {
        color: var(--secundary-color);
        height: 2.5em;
        width: 2.5em;
    }
    
    .main__speech {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .main__speech-text {
        width: 50%;
        padding-right: 4em;
    }

    .speech__text-h1 {
        font-size: 3.5em;
    }

    .speech__text-p {
        font-size: 1em;
    }

    .main__speech-img {
        width: 50%;
    }

    .main__img {
        display: inline-block;
        width: 80%;
    }

    .gallery {
        flex-direction: row;
        justify-content: center;
    }

    .gallery__img {
        margin: 2em 1em;
        width: 30%;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact__form {
        width: 60%;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 42%;
        margin: 1.9em;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* Media Querie 770px Fin */


/* Media Querie 960px Inicio */

@media (min-width:960px) {

    .header__nav-links {
        width: 29em;
    }

    .header__nav-link {
        font-size: 1.2em;
        margin: 0 .7em;
    }

    .speech__text-h1 {
        font-size: 4em;
    }

    .card__btn-br {
        display: none;
    }
}

/* Media Querie 960px Fin */


/* Media Querie 1024px Inicio */

@media (min-width:1024px) {
    .speech__text-h1 {
        font-size: 4.8em;
    }

    .speech__text-p {
        font-size: 1.1em;
    }

    .main__img {
        width: 90%;
    }

    .contact__form {
        padding: 1.5em 2em;
        width: 65%;
        margin-bottom: 3em;
    }

    .form__input {
        margin-bottom: 2em;
    }

    .form__comment {
        margin-bottom: 2em;
    }

    .card__title-h2 {
        font-size: 1.8em;
    }

    .card__p {
        font-size: .9em;
    }

    .footer__social {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Media Querie 1024px Fin */


/* Media Queries Fin */
